<div class="row">
  <div class="col-xs-12">
    <form class="form-group" ng-submit="$ctrl.submitForm()">
      <input class="form-control"
             ng-model="$ctrl.newTodo.title"
             placeholder="Give me something ToDo"
             autofocus>
    </form>

  </div>
</div>
<div class="row">
    <!--<div class="col-xs-12">-->
        <!--<button class="center-block glyphicon glyphicon-sort-by-alphabet transparent" type="button" ng-click="$ctrl.sortList()">Sort</button>-->
    <!--</div>-->
    <div class="col-xs-3 col-xs-offset-2">
        <button class="center-block glyphicon glyphicon-sort-by-alphabet transparent" type="button" ng-click="$ctrl.sortList()">Sort</button>
    </div>
    <div class="col-xs-3 col-xs-offset-2">
        <button class="center-block glyphicon glyphicon glyphicon-floppy-save transparent" type="button" ng-csv="$ctrl.returnTodoStore()" filename="ToDo.csv">CSV</button>
    </div>
</div>